.profileList {
    display: grid;
    gap: 2rem;
}

.profile {
    display: flex;
    gap: 1rem;
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    transition: background 300ms, border 300ms;
    box-shadow: 0 1.125rem 3.125rem 0 rgb(0 0 0 / 45%);
}

.profile img {
    border-radius: var(--border-radius);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
}

.profile .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile h2 {
    font-weight: 600;
}

.profile p {
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
}

.social {
    display: flex;
    gap: 0.75rem;
    list-style: none;
    font-size: 1.2rem;
}

.social li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
    border: 1px solid rgba(var(--card-border-rgb), 0.3);
    transition: border 200ms;
}

.impressum {
    justify-self: end;
    font-size: 0.8rem;
    opacity: 0.5;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .profile:hover {
        background: rgba(var(--card-rgb), 0.15);
        border: 1px solid rgba(var(--card-border-rgb), 0.4);
    }

    .social li a:hover {
        border: 1px solid rgba(var(--card-border-rgb), 0.80);
    }
}

/* Mobile */
@media (max-width: 700px) {
    .profileList {
        gap: 2rem;
    }

    .profile {
        flex-direction: column;
        align-items: center;
    }

    .profile .content {
        align-items: center;
        text-align: center;
    }

    .header, .impressum {
        justify-self: center;
    }
}
